<head>
  <title>Shaleen Title | Attorney &amp; Speaker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/stylesheets/shaleen-title.css" | relative_url }}">

  <!-- Open Graph Tags -->
  <meta property="og:title" content="Shaleen Title | Attorney &amp; Speaker" />
  <meta property="og:type" content="website" />

  <!-- TODO: use correct canonical URL when site is properly routed -->
  <!-- <meta property="og:url" content="shaleentitle.com"> -->
  <meta property="og:image" content="{{ site.url}}img/linkedin.jpg" />
  <meta property="og:description" content="Learn more about Shaleen Title, Attorney and Speaker." />

  <!-- Twitter Card Tags -->
  <meta property="twitter:title" content="Shaleen Title | Attorney &amp; Speaker" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@shaleentitle" />
  <meta property="twitter:image" content="{{site.url}}img/linkedin.jpg" />
  <meta property="twitter:description" content="Learn more about Shaleen Title, Attorney and Speaker." />
</head>