.customizerr {
    left: 5%;
    position: fixed;
}

.color {
    &--blue {
        color: #1c5982 !important;
    }
    &--green {
        color: #627C0E !important;
    }
    &--magenta {
        color: #8B008B !important;
    }
}

.hover {
    &--blue {
        &:hover {
            color: #1C5982 !important;
        }
    }
    &--green {
        &:hover {
            color: #627C0E !important
        }
    }
    &--magenta {
        &:hover {
            color: #8B008B !important;
        }
    }
}

.visited {
    &--blue {
        &:visited {
            color: #1c5982 !important;
        }
    }
    &--green {
        &:visited {
            color: #627C0E !important;
        }
    }
    &--magenta {
        &:visited {
            color: #8B008B !important;
        }
    }
}