---
layout: default
---
{{ content }}

<h1>Awards</h1>
<ul>
    {% for item in site.data.awards %}
    <li {% if item.highlighted %} class="award--highlighted" {% endif %}><b>{{ item.date }}:</b> {{ item.award_description }}</li>
    {% endfor %}
</ul>
<h1>Media hits</h1>
<ul>
    {% for item in site.data.media_hits %}
    <li class="mediaHit" data-date="{{ item.media_date }}"><b>{{ item.media_date }}:</b> {{ item.description }} {% if item.link %}<a href="{{ item.link}}">Read more</a>.{% endif%}</li>
    {% endfor %}
</ul>
<a href="/media-hits">See all media hits</a>

<script src="/javascripts/mediaHitFilter.js"></script>